/* Variables
=============================================*/
$white: #ffffff; //
$orange: #ef6c2a; //
$blue: #079bb3; //
$lightBlue: #1bb9d5;
$gray: #f1f1f1;
$darkGray: #515151;
$inputGray: #d5d5d5;

$headerHeight: 70px;
$headerSmall: 40px;

$lockMobile: 300px;
$lockSmall: 700px;
$lockDesktop: 900px;
$lockSuper: 1150px;